<md-content layout="row" layout-align="center center" class="chatContainer">
    <div class="chatBox" flex flex-gt-md="80" layout="row" layout-align="center stretch">
        <md-card layout="column" flex="grow">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-hide="mdMedia('gt-md')" ng-click="closeSideBar()">
                        <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
                    </md-button>
                    <h2>
                        <span>Chat App</span>
                        <span ng-show="!online"> - Offline</span>
                    </h2>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open interactions menu" class="md-icon-button" ng-click="openOptionsMenu($mdOpenMenu, $event);">
                            <md-icon md-menu-align-target md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="clearHistory('all', $event)"> Clear all chat history </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="clearHistory('current', $event)"> Clear current chat history </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <div class="fullHeight" layout="row">
                <div>
                    <md-sidenav class="md-sidenav-left fullHeight" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="2">
                        <!--sidenav components go here-->
                        <md-list flex>
                            <md-list-item>
                                <md-input-container class="md-block fullWidth removeMarginBottom">
                                    <label for="some">Search User</label>
                                    <input type="text" id="some" ng-model="filterUsers" />
                                </md-input-container>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-click="selectUser(user)" ng-repeat="user in available = (users | filter: filterUsers)" ng-class="{'active': user.selectedFlag}">
                                <md-icon class="md-avatar" md-svg-icon="avatars:{{user.avatar}}"></md-icon>
                                <div class="md-list-item-text">
                                    <p>{{user.userName}}</p>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div class="md-list-item-text" ng-hide="available.length">
                                    <p>No Users found!</p>
                                </div>
                            </md-list-item>

                        </md-list>
                    </md-sidenav>
                </div>
                <!--textBox and chat area-->
                <div layout="column" class="fullWidth">

                    <div flex class="chatBubbleContainer enableOverflow">
                        <div ng-repeat="item in activeMessageDump track by $index">
                            <chat-bubble payload="item"></chat-bubble>
                        </div>
                    </div>

                    <div flex="none" class="messageBoxContainer">
                        <form name="messageForm" layout="row" ng-submit="postMessageToBoard($event)">
                            <md-input-container flex>
                                <input type="text"
                                       ng-model="user.message"
                                       name="message"
                                       autocomplete="off"
                                       autofocus="true"
                                       placeholder="Message" />
                            </md-input-container>
                            <md-input-container flex-xs="15" flex-sm="10">
                                <md-button class="md-icon-button" ng-click="postMessageToBoard($event)" aria-label="Send Message">
                                    <md-icon md-svg-icon="content:ic_send_24px"></md-icon>
                                </md-button>
                            </md-input-container>
                        </form>
                    </div>
                </div>
            </div>
        </md-card>
    </div>
</md-content>